@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.videoAdUi, .videoAdUiTopBar, .videoAdUiTopBarWithGradients, .videoAdUiTopBarTransitions, .enigma-watermark {
  display: none !important;
}

.example::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Add this to your global CSS file */
.transform {
  transition: transform 0.3s ease-in-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(-100%);
}

/* Track */
.example::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #ddd;
  border-radius: 10px;
}

/* Handle */
.example::-webkit-scrollbar-thumb {
  background: #973B53;
  border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.m_8a5d1357 {
  font-weight:400!important;
  font-size: 19px!important;
  padding: 5px 0!important;
  font-family: "Sniglet", sans-serif;
}

.mantine-ScrollArea-viewport{
  background-color: #F4C2C2!important;
  z-index: 9;
}

#miCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  height:100%;
}

.colors {
  /* margin: 0 auto; */
  /* height: 80px; */
  animation: animatecolors 10s 0s infinite ease-in-out;
}

@keyframes animatecolors {
  0% {
    background-color: #f5e4dc;
    color: black!important;
  }
  33% {
    background-color: #9ec4c5;
    color: black!important;
  }
  66% {
    background-color: #009688;
    color: white!important;
  }
  100% {
    background-color: #8e8eb1;
    color: black!important;
  }
} 


.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* filter: invert(0.8); */
  /* margin-bottom: 20px; */
  /* background-color: #4779f7; */
}

/* Create the wave animation */
.wavy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url('../public/images/wave.svg') repeat-x; /* Use a wave-like SVG */
  background-size: cover;
  animation: wave 5s infinite ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateX(0) translateY(10px);
  }
  50% {
    transform: translateX(-25%) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(10px);
  }
}


.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  margin-bottom: -40px;
  background: url('../public/images/footer.png');
  background-position:top;
  /* filter: invert(1); */
  background-size: 100vw 20vh;
}
.wave1 {
  animation: animate 20s linear infinite;
  z-index: 15;
  opacity: 0.9;
  animation-delay: 0s;
  bottom: 0;
}
.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 10;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 10px;
}
.wave3 {
  animation: animate 10s linear infinite;
  z-index: 5;
  opacity: 0.4;
  animation-delay: -2s;
  bottom: 15px;
}
.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 1;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}






@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}

:root {
  --bg-background: #111827;
  --clr-card: #1f2937;
  --clr-1: #6420aa;
  --clr-2: #ff3ea5;
  --clr-3: #ff7ed4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.card {
  /* position: relative; */
  /* height: 24rem; */
  /* width: 16rem; */
  /* border-radius: 0.25rem; */
  cursor: pointer;
  /* z-index: 49; */
  /* background-color: var(--clr-card); */
}

.card::after,
.card::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: -0.5rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-card),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1),
    var(--clr-card)
  );
  border-radius: inherit;
  animation: rotate 2.5s linear infinite;
}

.card::after {
  filter: blur(3rem);
}

@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}










#container{
  -webkit-appearance: none;
  transform: rotateY(180deg);
}

#container video::-webkit-media-controls{
  transform: rotateY(180deg) !important;
}

.stroke {
  -webkit-text-stroke: .5px #28282861;
}


/* for sliding the scriptures */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-in-out forwards;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slideInFromTop 1s ease-in-out forwards;
}







.embla {
  overflow: hidden;
 }
 .embla__container {
  display: flex;
 }
 .embla__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
 }
 .embla__slide__img {
  /* width: 100%; */
  /* height: 400px; */
  object-fit: contain;
 }